.orrange-bg{
    background-color: #feeae9;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
    font-size: 25px
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF598B 0%, #FF135F 100%);
    color: white;
    border-radius: 5px;
    padding: 9px 25 px;
    cursor: pointer;
    border-style:initial;
}