.banner-space{
    margin-top: 100px;
}
.orrange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
    font-size: 25px
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF598B 0%, #FF135F 100%);
    color: white;
    border-radius: 5px;
    padding: 9px 25 px;
    cursor: pointer;
    border-style:initial;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}